body{
    margin:0;
}
.header{
    height:10vh;
    display:block;
    float:left;
    width:100vw;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
    display:block;
    float:left;
    width:50%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.run{
    list-style:none;
    margin:0;
    padding:0;
}
.run a{
    padding:10px;
    display:flex;
    align-items:center;
    flex-wrap: wrap;
}
.run a span{
    display:flex;
    flex: 1 1 33%;
    text-align:right;
    justify-content:flex-end;
}